:root { 
--white_A700_b2:#ffffffb2; 
--gray_50_01:#f9fafb; 
--gray_800_02:#413947; 
--gray_800_01:#4e4354; 
--blue_gray_500_01:#5a8a81; 
--blue_gray_900_02:#292d32; 
--blue_gray_700:#316362; 
--blue_gray_900_01:#1f2a37; 
--blue_gray_900:#1c2a3a; 
--red_A700:#ef0000; 
--gray_600:#837588; 
--black_900_4c:#0000004c; 
--blue_gray_100:#d1d5db; 
--blue_gray_300:#88b7a4; 
--blue_gray_100_33:#d9d9d933; 
--gray_800:#46404e; 
--blue_gray_500:#5e8e84; 
--gray_200:#e5e7eb; 
--black_900_0c:#0000000c; 
--gray_100_01:#f6f6f6; 
--blue_gray_900_33:#1f2a3733; 
--black_900_19:#00000019; 
--blue_gray_700_02:#47535f; 
--white_A700:#fdfdfd; 
--blue_gray_700_01:#4b5563; 
--blue_gray_100_01:#d9d9d9; 
--gray_50:#fbfbfb; 
--black_900_1e:#0000001e; 
--blue_gray_800_02:#323f4d; 
--black_900:#000000; 
--blue_gray_800:#4a4355; 
--black_900_26:#00000026; 
--gray_900_02:#111928; 
--blue_gray_200:#a4cfc3; 
--gray_600_02:#7e7e7e; 
--gray_500:#a499ab; 
--gray_600_01:#6b7280; 
--blue_gray_400:#91859b; 
--gray_900:#292230; 
--gray_900_01:#201b23; 
--green_50:#e5efeb; 
--gray_300:#dcd7d8; 
--blue_gray_800_01:#374151; 
--orange_300:#feb052; 
--blue_gray_300_01:#9ca3af; 
--gray_100:#f3f4f6; 
--blue_gray_300_02:#87b6a3; 
--orange_100:#ffd7a7; 
--white_A700_01:#ffffff; 
}